<h1>
	<a href="http://www.cs.princeton.edu/~wclarkso/">William Clarkson</a>
</h1>
<ul class="nav">
  	<li><a class="home" href="http://www.cs.princeton.edu/~wclarkso/index.html">Home</a></li>
  	<li><a class="blog" href="http://www.cs.princeton.edu/~wclarkso/blog/index.html">Blog</a></li>
	<li><a class="pubs" href="http://www.cs.princeton.edu/~wclarkso/publications/index.html">Publications</a></li>
	<li><a class="contact" href="http://www.cs.princeton.edu/~wclarkso/contact/index.html">Contact</a></li>
</ul>
